<p style="color: green"><%= notice %></p>

<% content_for :title, "Pods" %>

<h1>
  Pods in <%= params[:namespace_id] %>
  <%= link_to "(back)", namespaces_path %>
</h1>

<div id="pods">
  <% @pods.each do |pod| %>
    <p>
      <%= render pod %>
      <%= link_to "Add cat fact", add_cat_fact_to_pod_path(namespace_id: pod.metadata.namespace, id: pod.id) %>
      <%= button_to "Restart this pod", namespace_pod_path(pod.metadata.namespace, pod.id), method: :delete %>
    </p>
  <% end %>
</div>
